/**
 * HOME
 * This file contains styles specific to the home template of the app
 */

div.home-page {
	.journey {
		font-size: 1.4em;
		color: $color_white;
		background: transparentize($color_blue_dark, 0.5);
		padding: 20px 15px 165px 15px;
		h1 {
			text-align: center;
			margin-bottom: 50px;
		}
	}
	.progress-text {
		float: left;
		margin-top: -36px;
		margin-left: -70px;
		font-size: 1.5em;
		text-align: center;
		color: $color_white;
	}
	.progress svg {
		float: left;
		margin-top: -70px;
		margin-left: -20px;	
		circle {
			transition: stroke-dashoffset 0.4s ease;
			stroke: $color_red;
		}
	}
	

}
