<div class="home-page container" ng-controller="HomeCtrl">
	<div class="row">


		<form class="journey" ng-submit="getJourney()">
			<h1>Find meals for your next cross-country journey!</h1>

			<!-- Start -->
			<div class="form-group col-md-4">
				<label class="control-label" for="start">From:</label>  
				<input name="start" type="text" ng-model="start" placeholder="Providence, RI" class="form-control input-lg" required>
			</div>

			<!-- End -->
			<div class="form-group col-md-4">
				<label class="control-label" for="end">To:</label>  
				<input name="end" type="text" ng-model="end" placeholder="San Francisco, CA" class="form-control input-lg" required>
			</div>

			<!-- Date -->
			<div class="form-group col-md-4">
				<label class="control-label" for="date">When?</label>  
				<input name="end" type="date" ng-model="date" placeholder="MM-dd-yyyy" class="form-control input-lg" required>
			</div>

			<!-- Progress -->
			<div class="progress-wrapper col-md-11 col-md-offset-1">
				<button id="submit" type="submit" class="btn btn-lg btn-block btn-danger">{{buttonText}}</button>
			</div>
		</form>
		<progress-arc size=100 stroke-width=20 complete="progress" class="progress"></progress-arc>
		<p class="progress-text" ng-if="progress">{{progress*100 | intNum}}%</p>

	 	<div ui-view="map" class="gmap"></div>

		<!-- Temporary, just shows meals and such -->
		<h1 ng-show="mealLocations" class="col-md-12">Meal Times</h1>
		<ul>
			<li ng-repeat="meal in mealLocations" class="col-md-12">On {{meal[0] | date: "MM/dd/yyyy 'at' ha"}}, eat at {{meal[1]}}</li>
		</ul>

		<h1 ng-show="restaurantOps" class="col-md-12">Restaurant Options</h1>
		<ul>
			<li ng-repeat="(d, rests) in restaurantOps" class="col-md-12">On {{d | date: "MM/dd/yyyy 'at' ha"}} your options include:
			<ul>
				<li ng-repeat="r in rests" class="col-md-12">{{r.name}}</li>
			</ul>
			</li>
		</ul>

	</div> <!-- row -->

</div> <!-- home container -->
