/**
 * ITINERARY
 * Styles specific to the pins interface that shows the itinerary for the trip
 */

.itinerary {
	border-top: 2px solid $color_activated;
	margin-top: 10px;
	.acorns {
		svg.acorn {
			width: 33px;
			height: auto;
			margin-right: 10px;
			margin-top: -10px;
			margin-bottom: 5px;
			fill: $color_deactivated;
			&.loaded {
				fill: $color_activated;
			}
		}
	}
}