/**
 * ITINERARY
 * Styles specific to the pins interface that shows the itinerary for the trip
 */

.itinerary {
	background: $color_primary;
	border-top: 2px solid $color_primary;
	padding-bottom: 5px;
	h2 {
		color: #ffffff;
		padding-bottom: 10px;
	}
	.acorns {
		svg.acorn {
			width: 33px;
			height: auto;
			margin-right: 10px;
			margin-top: -10px;
			margin-bottom: 5px;
			fill: darken($color_primary, 5%);
			&.loaded {
				fill: $color_muted;
			}
		}
	}
}