/**
 * COLORS
 * This file contains colors and styles to be global variables
 * to be included in the main app scss file
 */

$color_white: #ffffff;
$color_activated: #636466;
$color_deactivated: #337AB7;