/**
 * COLORS
 * This file contains colors and styles to be global variables
 * to be included in the main app scss file
 */

$color_primary: #337AB7;
$color_muted: #9FB8DA;
$color_gray: #ddd;
$color_selected: #fff;