/**
 * SEARCH FORM
 * Contains styles for the search interface
 */

.search-form {
	background: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	.logo, .title {
		float: left;
		margin-bottom: 20px;
	}
	.logo {
		margin-left: 20px;
		max-width: 25%;
	}
	.title {
		line-height: 1.35em;
		margin-left: 10px;
	}
}