/**
 * SEARCH FORM
 * Contains styles for the search interface
 */

.search-form {
	padding-bottom: 20px;
	background: $color_white;
	#title {
		text-align: center;
	}
}
.logo {
	width: 105px;
	padding-bottom: 20px;
}