/**
 * RESTAURANTS
 * This file contains styles specific to the restaurants section of the home template of the app
 */
.restaurants {
	background-color: #ffffff;
	border-top: 2px solid $color_primary;
	.restaurant {
		padding-top: 10px;
		padding-bottom: 10px;
		&:nth-child(odd) {
			background-color: $color_muted;
		}
	}
}