/**
 * RESTAURANTS
 * This file contains styles specific to the restaurants section of the home template of the app
 */
.restaurants {
	background: #eeeeee;
	border-top: 2px solid $color_primary;
	h2 {
		margin-top: -5px;
	}
	.restaurant {
		padding-top: 10px;
		padding-bottom: 10px;
		&:nth-child(odd) {
			background-color: $color_gray;
		}
	}
	.chip {
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}