<div class="navbar header" >
  <div class="container" ng-controller="HeaderCtrl">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        {{appName}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-repeat="item in navigation">
          <a ui-sref={{item.state}}>{{item.title}}</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</div>
